.edsSelected {
    text-align: center;
}
   
.partialEditStudyPlanViewMode {
    font-size: 0.65em;
}

.partialEditStudyPlanViewMode td.goalsSubject {
    font-size: 1.4em;
}
   
.markedItem:before {
    display: inline-block;
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: .02em;
    margin-top: 0;
    color: #64bd36;
}