@media print {
    p {
        page-break-inside: avoid;
    }

    .sv-column-7 {
        width: 100% !important;
       min-width:100% !important;
    }

    .hidden-print {
        display:none;
    }

    .sv-column-5, #readspeaker_button1 {
        display:none;
    }

    .pageHeader {
       display: none;
    }
    .sv-grid-ksgs12:first-child {
       background: #fff !important;
       box-shadow: none;
       border-radius: 0;
       padding: 0 !important;
       margin: 0 !important;
    }
    .ked-navigation {
       display: none;
    }
    .sv-first-child {
       margin-top: 0;
    }
    body {
        font-size: .95em!important;
        background: #ffffff !important;
    }
    iframe#sv-editor-menu {
       display: none;
    }
    .print:last-child {
       page-break-after: auto;
    }
    .pagecontent {
       margin: 0 !important;
       padding: 0 !important;
    }
    span.normal,
    p.normal {
       font-family: georgia, serif;
    }
 }
