/* 

Set up variables and move this to the corresponding functionality

*/



@media #{$small-devices} {
    .ked-navigation .sidebar {
        height: 48px;
        max-height: 100vh;
        width: 100%;
        max-width: 100vw;
    }
    body {
        margin-left: 0px!important;
        margin-top: 48px!important;
    }

    h4.skolHeaderWelcome {
    display:none !important;
    }

    .pageHeader {
        min-height: 8em !important;
   }    
   
   .pageHeader h1 {
       font-size: 1.8em;
       padding: 0 0.2em;
       line-height: 1em;
   }


   
   .btn-large {
       display: block;
   }
   
   .sv-layout.sv-skip-spacer.sv-column-8 {
       padding: 0 1em;
   }

   div.modal-page-wrap {
    padding-top: 48px; /* Placera dialogytan under funktionsmenyn */
    padding-bottom: 16px; /* Verkar behövas justera nedåt också */
    box-sizing: border-box;
  }

  div.modal-page {
    margin: 12px;
    min-width: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }


}

@media (min-width:700px) {
    .blocks-menu-container {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0
    }
    .blocks-menu-container.open {
        display: block;
        transition: all .2s
    }
}


@media #{$responsive-xl-devices} {

    body {
        font-size: 1.1em;
    }

      .pageFunctionButtons {
         margin-bottom: 2em;
         padding: 0 4em;
      }
      .sv-column-7 .pagecontent,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-8,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-7 {
         padding: 0 4em;
      }
      #xp1 {
         margin-left: 4em;
      }
      h4.skolHeaderWelcome {
         margin-left: 2.25em;
      }
      .pageHeader h1 {
         padding-left: 1.4em;
      }
      .breadcrumb {
         margin: 0.4em 5.5em 0.7em 5.5em !important;
      }
      .buttonsContainer {
         margin: 0 3.6em;
      }
   }

   @media #{$responsive-l-devices} {

    body {
        font-size: 0.9em;
    }

      .pageFunctionButtons {
         margin-bottom: 2em;
         padding: 0 2em;
      }
      .sv-column-7 .pagecontent,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-8,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-7 {
         padding: 0 2em;
      }
      #xp1 {
         margin-left: 2em;
      }
      h4.skolHeaderWelcome {
         margin-left: 1.15em;
      }
      .pageHeader h1 {
         padding-left: 0.7em;
      }
      .breadcrumb {
         margin: 0.4em 2.9em 0.7em 2.9em !important;
      }
      .buttonsContainer {
         margin: 0 2em;
      }
   }

   @media #{$responsive-m-devices} {

    body {
        font-size: 0.8em;
    }


      .pagecontent li {
    margin-left: 1em;
      }
      
      
      .pageFunctionButtons {
         margin-bottom: 2em;
         padding: 0 0em;
      }
      .sv-column-7 .pagecontent,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-8,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-7 {
         padding: 0 0em;
      }
      #xp1 {
         margin-left: 0em;
      }
      h4.skolHeaderWelcome {
         margin-left: 0em;
      }
      .pageHeader h1 {
         padding-left: 0em;
      }
      .breadcrumb {
         margin: 0.4em 0.5em 0.7em 0.5em !important;
      }
      .buttonsContainer {
         margin: 0 0em;
      }
      
     
   }

   @media #{$responsive-s-devices} {
      
       .pagecontent li {
    margin-left: 0em;
      }
      
      .pageFunctionButtons {
         margin-bottom: 2em;
         padding: 0 0em;
      }
      .sv-column-7 .pagecontent,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-8,
      .courseBuilderMainContainer .sv-layout.sv-skip-spacer.sv-column-7 {
         padding: 0 0em;
      }
      #xp1 {
         margin-left: 0em;
      }
      h4.skolHeaderWelcome {
         margin-left: 0em;
      }
      .pageHeader h1 {
         padding-left: 0.4em;
      }
      .breadcrumb {
         margin: 0.4em 0.5em 0.7em 0.5em !important;
      }
      .buttonsContainer {
         margin: 0 0em;
      }
      body {
       font-size: 1em!important;
		}
   }
