/* 

Set up variables and move this to the corresponding functionality

*/



@media #{$small-devices} {
    .ked-navigation .sidebar {
        height: 48px;
        max-height: 100vh;
        width: 100%;
        max-width: 100vw;
    }
    body {
        margin-left: 0px!important;
        margin-top: 48px!important;
    }

    h4.skolHeaderWelcome {
    display:none !important;
    }

    .pageHeader {
        min-height: 8em !important;
   }    
   
   .pageHeader h1 {
       font-size: 1.8em;
       padding: 0 0.2em;
       line-height: 1em;
   }


   
   .btn-large {
       display: block;
   }
   
   .sv-layout.sv-skip-spacer.sv-column-8 {
       padding: 0 1em;
   }

   div.modal-page-wrap {
    padding-top: 48px; /* Placera dialogytan under funktionsmenyn */
    padding-bottom: 16px; /* Verkar behövas justera nedåt också */
    box-sizing: border-box;
  }

  div.modal-page {
    margin: 12px;
    min-width: 0;
    box-sizing: border-box;
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }


}

@media (min-width:700px) {
    .blocks-menu-container {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0
    }
    .blocks-menu-container.open {
        display: block;
        transition: all .2s
    }
}
