$color-ksabYellow: rgb(218, 218, 57);
$color-ksabcyan: rgb(61, 188, 162);
$color-ksabPurple: rgb(102, 49, 143);
$color-ksabRed: rgb(233, 43, 94);

/* UI colors */

// Body
$color-background-body: #c3c3c3;
$master-body-size: 1em;

$color-accent: $color-ksabcyan;

// Content radius
$radius-s: 2px;
$radius-m: 4px;
$radius-l: 8px;

// Container padding
$padding-normal: 5px 20px 20px 20px;

// Shadows

$shadow-s: 0 2px 1px 0 rgba(0, 0, 0, 0.25);
$shadow-m: 0 3px 6px 0 rgba(0, 0, 0, 0.35);
$shadow-l: 0 20px 95px -10px rgba(0, 0, 0, 0.83);

// Content background
$color-background-content: #fff;
$font-body: 'circular-book', arial, sans-serif;
$font-header: 'circular-bold', arial, sans-serif;
$color-type-body-primary: #333;
$color-type-header-primary:#000;

$font-size-body: 1em;
$font-size-small: 0.6em;
$font-size-h1: 2.3em;
$font-size-h2: 2.1em;
$font-size-h3: 1.9em;
$font-size-h4: 1.4em;
$font-size-h5: 1em;

// Modals
$color-modal-content: #fff;

// Menu background
$color-background-menu: #aaa;
$font-menu: 'circular-book', arial, sans-serif;

// Buttons 
$color-button-background: $color-accent;
$color-button-text: rgb(255, 255, 255);
$color-button-background-hover: $color-accent;
$color-button-text-hover: #333;

$color-borders: #cfcfcf;





