
   .courseBuilderMainContainer {
    padding: 0 1em 2em 1em;
    background: #fff !important;
    margin-bottom: 3em;
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 2px;
    border-radius: 2px;
 }

 .courseBuilderMainContainer .pagecontent {
    padding: 0;
 }
 
 .inputTextBox {
    width: 100%;
    width: -webkit-fill-available;
    background: #fff;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: .5em;
    overflow: auto;
    margin-left: 0;
 }

 textarea {
    width: 100%;
    width: -webkit-fill-available;
    margin-left: 0;
    height: 70px;
 }

 .renameable-text input[type="text"]  {
    min-width: 100%;
}

 .courseBuilderMainContainer .ked_boxed .btn {
    background: #3dbca2;
 }

 .courseBuilderMainContainer .ked_boxed .btn a,
 .courseBuilderMainContainer .ked_boxed .nav-header {
    color: #fff !important;
 }

 .courseBuilderMainContainer input[type="text"] {
    margin-left: 0;
    width: -webkit-fill-available !important;
 }

 .renameable-text {
    background: #fff;
    padding: 0.2em;
    margin-top: 1em;
    border: 1px #dddddd solid;
    cursor: text;
    border-radius: 5px;
    min-height: 29px;
 }

 .schoolCourse {
    padding: .3em;
    display: grid;
    padding-bottom: 0.5em;
 }

 .schoolCourse p {
    line-height: 1.2em;
    margin-bottom: .4em;
    margin-top: .3em;
 }

 .schoolCourse .small {
    font-size: 0.6em !important;
 }

.horizontalMenu li {
  margin-left: 0 !important;
}

div.course-builder {
    width: 100%;
}
div.course-builder.status {
    padding-left: 2px;
    margin-left: -13px;
    border-left-width: 11px;
    border-left-style: solid;
}
div.course-builder.status.unsaved {
    border-left-color: #f8f868;
}
div.course-builder.status.error {
    border-left-color: red;
}
.drop-zone {
    width: 600px;
    height: 50px;
    border: 2px dotted #bbb;
    border-radius: 10px;
    padding: 50px 25px 25px 25px;
    margin-bottom: 25px;
    text-align: center;
    color: #bbb;
}
.marked-area {
    border: 2px dotted #5a5;
    border-radius: 3px;
}
.entity-list .complete {
    color: green;
    font-weight: bold;
}
.entity-list .incomplete {
    font-style: italic;
}
.entity-list .selected a {
    border: 1px dashed #bbb;
    cursor: default;
}
.error-success-feedback {
    top: 200px;
    font-weight: bold;
}
.error-success-feedback .error {
    background-color: rgba(200, 100, 100, 0.9);
    padding: 5px;
}
.error-success-feedback .info {
    background-color: rgba(100, 200, 100, 0.9);
    padding: 5px;
}

.inputTextBox {
    width: 100%;
    background: #fff;
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 0.5em;
    overflow: auto;
}
.inputTextLarge {
    height: 10em;
}
.inputTextSmall {
    height: 2em;
}
p.subHeader {
    margin-top: -1em;
    margin-bottom: 1em;
    font-style: italic;
}
.spaced>div {
    padding: 5px;
}
.lines select, .spaced select {
    margin-bottom: 0 !important;
}
.contentList, .abilityList {
    padding: 0.5em;
}
.ked_boxed .openHeader {
    padding-top: 0.4em;
}

.courseBuilderMainContainer .sv-grid-ksgs12 {
    display: inline-block;
}

/*  Here be duplicates */

.taskContainer>* {
    display: block;
    margin-bottom: .3em;
}
.taskContainer {
    margin-bottom: 0.6em;
}

.taskContainer.odd-even>div:nth-child(odd) {
    background: #eeeeee !important;
 }

.markedGreen {
    background: rgba(0, 255, 0, 0.12) !important;
}
.markedGreen.migrated {
    background: repeating-linear-gradient(
      45deg,
      #d4f6d4,
      #d4f6d4 10px,
      #fff 10px,
      #fff 20px
     ) !important;
}
.selectable.markedGreen.migrated:hover {
    background:  #d4f6d4 !important;
}
  
.markedRed {
    background: rgba(255, 0, 0, 0.12) !important;
}
.pill.active {
    background-color: #49c35a;
    padding: 4px 7px;
    color: #fff;
    border-radius: 7px;
    line-height: 10px;
    font-size: 12px;
    margin-left: 11px;
}
.pill.incomplete {
    background-color: #c36549;
    padding: 4px 7px;
    color: #fff;
    border-radius: 7px;
    line-height: 10px;
    font-size: 12px;
    margin-left: 11px;
}
  
.warningFlag {
    float: right;
    margin-right: 1em;
    margin-top: 0.3em;
    color: #d55858;
    font-size: 1.2em;
}
.removeItem {
    cursor: pointer;
    height: 1em;
    width: 1.4em;
}
.removeItem:before {
    display: inline-block;
    content: "\f00d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: 0.02em;
    margin-top: 0;
    color: #d55858;
}
.viewItem {
    cursor: pointer;
    height: 1em;
    width: 1.4em;
}
.viewItem:before {
    display: inline-block;
    content: "\f06e";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: 0.02em;
    margin-top: 0;
    color: #4f80cc;
}
.editItem {
    cursor: pointer;
    height: 1em;
    width: 1.4em;
}
.editItem:before {
    display: inline-block;
    content: "\f040";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: 0.02em;
    margin-top: 0;
    color: #c9b145;
}

.hideItem {
    cursor: pointer;
    height: 1em;
    width: 1.4em;
 }

 .hideItem:before {
    display: inline-block;
    content: "\f070";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: 0.02em;
    margin-top: 0;
    color: #ce786e;
 }

 
  .showItem {
    cursor: pointer;
    height: 1em;
    width: 1.4em;
 }

 .showItem:before {
    display: inline-block;
    content: "\f06e";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: 0.02em;
    margin-top: 0;
    color: #5c9655;
 }
 
 
 .schoolCourse {
    padding: 0.3em;
    display: grid;
    padding-bottom: none;
 }

 .schoolCourse a {
    font-family: circular-bold, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    color: #000000 !important;
    line-height: 1;
    text-decoration: none;
 }

 .studentCourse a {
    font-family: circular-bold, arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    color: #000000 !important;
    line-height: 1;
    text-decoration: none;
 }

 .studentCourse {
    padding: 0.3em;
    display: grid;
    padding-bottom: 1em;
 }

 .studentCourse p {
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
 }
 

.studentCourse p.small {
  color: #565656;
  font-size: 0.8em;
  line-height: 1em;
  padding: 0;
  margin: 0.4em 0 0 0;
}

.contentPart.contentAlert {
    border-left: 4px #d55858 solid;
}
.contentPart {
    display: block;
    margin-bottom: 0.5em;
    padding: 0 0.4em;
    border-left: 4px #74d07b solid;
}

.contentText p {
    font-size: 1.0em;
    padding: 0 1em 0.5em 1em;
}

.contentUsage {
    float: right;
    color: #000;
}
.schoolCourse {
    padding: 0.3em;
    display: grid;
    padding-bottom: 1em;
}
.schoolCourse p {
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}
p.criteriaText {
    line-height: 1.3em;
}
p.abilityText {
    line-height: 1.3em !important;
}
p.criteriaText, p.abilityText {
    line-height: 1.3em;
    font-size: 0.7em;
}
.criteriaText strong {
    font-weight: normal;
    padding: 0 4px 3px 4px;
    background: #f8f89f;
    border-radius: 5px;
}
.selectable {
    cursor: pointer;
    word-break: break-word; // Tvingar kunskapsmatriser att inte trycka ut bredden större än tillåten yta.
}
.selectable:hover {
    background: #d4f6d4 !important;
}
ul.entity-list li {
    margin-left: 3em;
}
.course-module .removeItem {
    top: 0.7em !important;
    right: 0.4em !important;
}
.course-module textarea.inputTextBox.inputTextLarge, .course-info textarea.inputTextBox.inputTextLarge, .course-info textarea.inputTextBox.inputTextSmall {
    width: 98%;
}
.course-module h4 {
    margin-top: 1.5em !important;
}

.week-period-div > div {
    float: left;
    padding: 0 12px 0 0;
}

.week-period-div > br {
    float: none;
    clear: both;
}

.week-period-div {
    font-size: 0.8em;
    margin-bottom: 0.5em;
}


.side-dialog {
    position: fixed;
    top: 0;
    right: 0;
    width: 580px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #222;
    box-shadow: #222 8px 2;
    padding: 12px;
    max-height: 100%;
    overflow-y: auto;
}
.side-dialog-option {
    width: 166px;
    float: left;
    padding: 2px;
    margin: 4px;
    border-radius: 4px;
    border: 3px solid #ddd;
}
.side-dialog-option:not(.choosen):not(.covered) {
    border: 3px dotted #ddd;
}
.side-dialog-option:not(.choosen):hover {
    border: 3px solid #aaa;
    cursor: pointer;
}
.side-dialog-option.choosen {
    opacity: 0.5;
    font-style: italic;
    border: 3px solid #ddd;
}
.side-dialog-option.covered {
    background-color: #dfd;
}


.removeItem.upperRight {
    position: absolute;
    top: -1px;
    right: -11px;
}

.warning-box {
    border: 1px solid #ccc;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
}
.editable-school-list table td p {
    padding: 0 16px 0 16px;
    margin: 0;
}
.teachers-list input {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    width: auto;
    min-width: 0;
}

.task-search-result.fixed {
    /*position: fixed;
    height: 80%;
    overflow-y: auto;*/
    padding-right: 2em;
}