div.modal-page-wrap {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal-page {
    position: relative;
    background-color: #fff;
    padding: 5px 20px 20px 20px;
    margin-bottom: 2em;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border: none;
    border-radius: 8px;
    box-shadow: 0 20px 95px -10px rgba(0, 0, 0, 0.83);
    width: auto !important;
}

.termPlanContainer .modal-page {
    max-width: 600px;
}

div.darken {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.35;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
}

.modal-fixed-max {
    max-width: 800px;
}

div.modal-page .removeItem:before {
    color: #3dbca2;
}
div.modal-page .removeItem:hover:before {
    font-weight: bold;
}
div.modal-page .removeItem {
    position: absolute;
    top: 5px;
    right: 3px;
}