.ks-method-bank {
    display: flex;
    flex-wrap: wrap;

    .ks-method-bank__item {
        display: flex;
        flex-direction: column;
        width: 50%!important;
        padding-right: 1em;

        .ks-method-bank__label {
            margin-top: 1em;
            padding: 1em;
            background-color: #e5eff4;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: bold;
            color: black;

            i {
                margin-left: 0.5em;
            }
        }

        .ks-method-bank__values {
            display: none;
            padding: 1em;
            margin-bottom: 1em;
            overflow: hidden;
            background-color: #fdfdfd;

            .checkbox{
                display: flex;
                align-items: center;
            }
            
            .checkbox input[type="checkbox"]{
              margin-right: 0.5em;
           }
        }
    }

    .active, 
    .accordion:hover {
       background-color: #a9b9c6; 
    }
    
}
 
