body {
    margin-left: 48px!important;
}

body.sv-responsive {
    background: $background-body;
}

#sidebar-body-wrapper, .ked-navigation *, body, html {
    box-sizing: border-box
}
.dev .page-wrap, body, html {
    height: 100%
}